<h2 >Connect & Follow</h2>
{% assign size = '24' %}
<ul  id="contact-icons">
  <li><a class="image-wrapper" href="{{ site.feed }}"><img src="/img/icon/rss.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Subscribe to my <a href="{{ site.feed }}">notebook</a></li>
    <li><a class="image-wrapper"  href="mailto:{{ site.email }}"><img src="/img/icon/mail.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Email <a href="mailto:{{ site.email }}">buptjz@gmail.com</a></li>
  <li><a class="image-wrapper"  href="{{ site.github }}"><img src="/img/icon/github.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Github <a href="{{ site.github }}">github.com/buptjz</a></li>
</ul>
